<p>
<font size="+2"><%= point[:title] %></font>
<hr>
<% if point[:comment] %>
<%=  h point[:comment] %><br /><br />
<% end %>

<% if point[:href] %>
     <a href='<%= point[:href] %>' target='_blank'>
<%   if point[:linkimg] || point[:linktext] %>
<%      if point[:linkimg] %>
          <img src='<%= point[:linkimg] %>'><br />
<%      end %>
<%      if point[:linktext] %>
          <%= h point[:linktext] %>
<%      end %>
<%   else %>
       Link
<%   end %>
     </a>
<% end %>
</p>
<p>
<font weight"-2"><%= h @types[ point[:type] ][:description] %><% if point[:date] %> on <%= h point[:date] %><% end %>
