<p>
<font size="+2"><%= point[:title] %></font>
<hr>
<% if !point.fetch(:comment, "").empty? %>
<%=  h point[:comment] %><br /><br />
<% end %>

<% if !point.fetch(:href, "").empty?  %>
     <a href='<%= point[:href] %>' target='_blank'>
<%   if !point.fetch(:linkimg, "").empty? || !point.fetch(:linktext, "").empty? %>
<%      if !point.fetch(:linkimg, "").empty? %>
          <img src='<%= point[:linkimg] %>'><br />
<%      end %>
<%      if !point.fetch(:linktext, "").empty? %>
          <%= h point[:linktext] %>
<%      end %>
<%   else %>
       Link
<%   end %>
     </a>
<% end %>
</p>
<p>
<font weight"-2"><%= h @types[ point[:type] ][:description] %><% if point[:date] %> on <%= h point[:date] %><% end %>
